
{{> head}}
    
{{> navbar }}

<div class="col-8">
    <h1>Emma</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas iusto nam aut neque doloremque distinctio reiciendis quas repudiandae tempora illo. Error provident deserunt et. Cum eligendi veniam illo quo quam!</p>
</div>


<div class="col-4">
    <img src="assets/img/emma.jpg" class="img-thumbnail">

</div>
{{> footer}}